header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(0, 0, 68);
    z-index: 100;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}
.SNlogo {
    height: 80px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.search input {
    height: 50px;
    max-width: 500px;
    flex: 1;
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 500;
    min-width: 100px;
}
.search input:focus {
    outline: none;
    box-shadow:inset 0px 0px 0px 2px rgb(203, 132, 0);
}
.search button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: rgb(203, 132, 0);
    cursor: pointer;
    transition: opacity 150ms;
}
.search img {
    height: 40px;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
}
.sign-in p {
    padding-left: 5px;
    font-size: 13px;
}
.right select {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.returnandorder {
    cursor: pointer;
}
.return {
    font-size: 13px;
}
.order {
    font-size: 20px;
    font-weight: 600;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}
.cart img {
    height: 40px;
}
.cart p {
    font-size: 20px;
}
nav {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2;
}
.menu {
    flex: 1;
    color: white;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 150ms;
    position: relative;
    background-color: rgb(54, 65, 86);
}
.search button:hover,
.slidebar a:hover,
.menu:hover div,
.menu:hover a {
    opacity: 0.7;
}
.search button:active,
.slidebar a:active,
.menu:active div,
.menu:active a {
    opacity: 0.5;
}
.menu div {
    white-space: nowrap;
}
.menu img {
    height: 16px;
    padding: 0px 10px;
}
.slidebar {
    background-color:rgb(54, 65, 86);
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    transform: translateY(-100%);
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
    z-index: -1;
    display: flex;
    align-items: center;
}
.slidebar a {
    flex: 1;
    padding: 5px;
}
.menu:hover + .slidebar {
    transform: translateY(0px);
    visibility: visible;
}
.slidebar:hover {
    transform: translateY(0px);
    visibility: visible;
}